/* Form styles */
.launch-form {
  /* background-color: #2d2d2d; */
  padding: 40px;
  width: 100%;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: #f3f3f3;
  border-radius: 10px;

}

.launch-form label {
  /* color: #ffffff; */
  display: inline;
  width: 150px;
  min-width: 116px;
}
.launch-form select,
.launch-form input,
.launch-form textarea {
  /* background-color: #2e0d47; */
  border: 1px solid #727272;
  color: #1a1919;
  border-radius: 5px;
  margin-left: 40px ;
  margin-bottom: 20px;
  /* max-width: 700px; */

}

.form-group{
  display: flex !important;
}


.userData {
  height: 400px;
  width: 100% !important;
  max-width: 900px !important;
  margin: 0px !important;
  margin-top: 10px !important;
}

.launch-form select::placeholder,
.launch-form input::placeholder,
.launch-form textarea::placeholder {
  color: #727272;
}

.LaunchTemplatebutton {
  background-color: #f5db76;
  color: #2d2d2d;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}

.LaunchTemplatebutton:hover {
  background-color: #efb612;
  cursor: pointer;
}

/* Tags styles */
.launch-form .tags {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #727272;
}

.launch-form .tags .tag {
  display: flex;
  margin-top: 10px;
}

.launch-form .tags .tag input {
  margin-right: 10px;
}

.launch-form .tags .tag button {
  background-color: #414141;
  color: #e5e5e5;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.launch-form .tags .tag button:hover {
  background-color: #727272;
  cursor: pointer;
}
.lablegb{
  padding-left: 10px !important;
  font-size: x-large;
}

