.cardContainer {
  display: flex;
  flex-wrap: wrap;
}
.dnsUrl {
  color: rgb(242, 144, 23) !important;
  text-decoration: none !important;
}
.label {
  padding-bottom: 10px;
  font-size: 14px;
}
.loadBalancer{
  width: 100% !important;
}
.elbRow{
  width: 100%;
  display: flex;
}
.elblabel {
  min-width: 130px !important;
}
.elbdata{
  padding-bottom: 5px;
}

